---
import { useSanityClient } from "astro-sanity";
import Thought from "../../components/Thought.astro";
import Document from "../../layouts/Document.astro";

const thoughts = await useSanityClient().fetch(`*[_type == "thought"]`);
const sortedThoughts = thoughts.sort(
  (a, b) => +new Date(b._createdAt) - +new Date(a._createdAt)
);
---

<Document>
  <h1>thoughts.</h1>

  <p>
    Just a place to post some of my miscellaneous thoughts, since I don't want
    to do so on the blue bird app anymore.
  </p>

  {
    sortedThoughts && (
      <ul>
        {sortedThoughts.map((thought) => (
          <li>
            <Thought thought={thought} />
          </li>
        ))}
      </ul>
    )
  }
</Document>
