---
import { useSanityClient } from "astro-sanity";
import Thought from "../../components/Thought.astro";
import Page from "../../layouts/Page.astro";

const thoughts = await useSanityClient().fetch(`*[_type == "thought"]`);
const sortedThoughts = thoughts.sort(
  (a, b) => +new Date(b._createdAt) - +new Date(a._createdAt)
);
---

<Page title="thoughts">
  <p class="lede" slot="lede">
    Just a place to post some of my miscellaneous thoughts, since I don't want
    to do so on the blue bird app anymore.
  </p>

  {
    sortedThoughts && (
      <ul class="thoughts-list">
        {sortedThoughts.map((thought) => (
          <li>
            <Thought thought={thought} />
          </li>
        ))}
      </ul>
    )
  }
</Page>

<style>
  .thoughts-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .thoughts-list li + li {
    margin-block-start: var(--s2);
  }
</style>
