---
import { getCollection } from "astro:content";
import Article from "../../layouts/Article.astro";

export async function getStaticPaths() {
  const postCollection = await getCollection("posts");
  return postCollection.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<style>
  h1 {
    --font-size: var(--s3);
    text-shadow: none;
    color: var(--c-teal);
    -webkit-text-stroke-width: 0;
  }
</style>

<Article title={post.data.title}>
  <h1>{post.data.title}</h1>

  <p class="lede">{post.data.lede}</p>

  <Content />
</Article>
