---
/**
 * Handles layout and rendering of each blog post
 */
import { getCollection } from "astro:content";
import Document from "../../layouts/Document.astro";

export async function getStaticPaths() {
  const postCollection = await getCollection("posts");
  return postCollection.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<style>
  h1 {
    --font: var(--font-heavy);
    --font-size: var(--s4);
    text-shadow: none;
    color: var(--c-teal);
    -webkit-text-stroke-width: 0;
  }
</style>

<Document title={post.data.title}>
  <article class="gappy">
    <header>
      <h1>{post.data.title}</h1>
      <p class="lede">{post.data.lede}</p>
    </header>

    <Content />
  </article>
</Document>
