---
/**
 * Page view for all writing/posts
 */

import { getCollection } from "astro:content";
import Document from "../../layouts/Document.astro";
import PostList from "../../components/PostList.astro";

const posts = await getCollection("posts");
---

<Document>
  <h1>writing</h1>

  <p class="lede">I'm not much of a writer yet, but I'm trying.</p>

  <PostList posts={posts} />
</Document>
