---
/**
 * Page view for all writing/posts
 */

import { getCollection } from "astro:content";
import Article from "../../layouts/Article.astro";
import PostList from "../../components/PostList.astro";

const posts = await getCollection("posts");
---

<Article>
  <h1>writing</h1>

  <PostList posts={posts} />
</Article>
