---
/**
 * Page view for all writing/posts
 */

import { getCollection } from "astro:content";
import Page from "../../layouts/Page.astro";
import PostList from "../../components/PostList.astro";

const posts = await getCollection("posts");
const sortedPosts = posts.sort(
  (a, b) => +new Date(b.data.date) - +new Date(a.data.date)
);
---

<Page title="writing">
  <p class="lede" slot="lede">I'm not much of a writer yet, but I'm trying.</p>

  <PostList posts={sortedPosts} />
</Page>
