---
/**
 * Page view for all writing/posts
 */

import { getCollection } from "astro:content";
import Article from "../../layouts/Article.astro";
import PostCard from "../../components/PostCard.astro";

const posts = await getCollection("posts");
---

<style>
  .posts {
    list-style-type: "";
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--s2);
  }
</style>

<Article>
  <h1>writing</h1>

  <ul role="list" class="posts">
    {
      posts.map((post) => (
        <li>
          <PostCard post={post} />
        </li>
      ))
    }
  </ul>
</Article>
