---
import { getCollection } from "astro:content";
import Document from "../../layouts/Document.astro";

const posts = await getCollection("posts");
---

<Document>
  <h1>writing</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Document>
