body {
  font-size: var(--s0);
  font-family: var(--font-light);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  color: var(--color-text-dark);
  background-color: var(--color-bg-light);
}

::selection {
  background-color: var(--color-selection-bg);
  color: var(--color-selection-text);
}

/* LAYOUT ----------------------------------- */

.layout-weight-left,
.layout-weight-right {
  display: grid;
  grid-template: var(--layout-grid-template);
}

.layout-weight-left > * {
  grid-column: mid-left;
}

.layout-weight-right > * {
  grid-column: mid-right;
}

/* HEADINGS --------------------------------- */

h1,
h2,
h3,
h4 {
  font-family: var(--font-heavy);
  line-height: 1;
  color: var(--color-text-heading);
}

h1 {
  font-size: var(--s5);
}

h2 {
  --stack-space: var(--s4);
  --measure: 40ch;

  font-size: var(--s3);
}

h3 {
  --stack-space: var(--s3);
  --measure: 50ch;

  font-size: var(--s2);
}

/* LINKS ------------------------------------ */

a {
  position: relative;
  color: currentColor;
  --line-height: 1;
  text-decoration-color: var(--color-interactive);
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.5ex;
  transition: 0.2s all ease;

  &:hover {
    text-underline-offset: 0.6ex;
    text-decoration-thickness: 0.4ex;
  }
}

/* LISTS ------------------------------------ */

ul {
  list-style-type: "";
  padding: 0;
}

ol ::marker {
  font-family: var(--font-heavy);
  font-size: 1.2em;
  color: var(--color-text-heading);
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: var(--s0);
}

/* CODE / FORMATTED TEXT -------------------- */

:is(code, kbd) {
  font-family: var(--font-code);
  font-size: var(--font-size-code);
}

pre {
  padding: var(--s-3) var(--s-2);
  width: 100%;
}

pre:has(code) {
  width: max-content;
  max-width: 100%;
  overflow-x: auto;
}

code {
  color: var(--color-text-code);
  border-radius: 4px;
  padding-inline: 4px;
}

kbd {
  border: 1px solid var(--kbd-border-color);
  border-radius: 3px;
  padding: 1px 3px;
  box-shadow: 2px 1px var(--kbd-shadow-color);
  background: var(--kbd-bg-color);
}

/* OTHER ------------------------------------ */

del,
s {
  text-decoration-color: var(--color-error);
  text-decoration-thickness: 2px;
}

ins {
  display: inline-block;
  transform: translateY(2px) rotate(-1deg);
  text-decoration: none;
  font-style: italic;
  color: var(--color-error);
  line-height: 1.1;
  padding: 0.5ch;

  &::before {
    content: "^";
    display: inline-block;
    transform: scale(2) translateY(0.2cap);
    padding-inline-end: 0.4ch;
  }
}

mark {
  background: var(--color-highlight);
}
