/* PROSE (specific modifiers for long-form text) */

.prose {
  --stack-space: var(--s1);

  /* prevent text from blowing out, esp. on small screens */
  :is(h1, h2, h3) {
    overflow-wrap: anywhere;
    hyphens: auto;
  }

  :is(h1, h2, h3, h4, p, ul, ol, dl, blockquote) {
    max-inline-size: var(--measure);
    text-wrap: pretty;
  }

  ul,
  ol {
    li + li {
      margin-block-start: var(--stack-space, 1em);
    }
  }

  ul:not([class]) {
    --stack-space: var(--s-2);
    padding-inline-start: var(--s4);

    li {
      position: relative;

      &::before {
        position: absolute;
        content: "*";
        display: block;
        left: -1.2em;
        color: var(--color-text-heading);
        transform: scale(2) translateY(0.2em);
        font-weight: bold;
      }
    }
  }
}
