/*
 * Modern CSS reset. The intent here is to address default CSS that
 * doesn't work the most intuitive way, or the way it is most 
 * commonly used (at least, by me), or does unexpected things in 
 * certain browsers. It's limited to Making Things Just Work (TM). I
 * do not reset anything that is definitely going to be custom-styled
 * at a global level (headings, etc.).
 *
 * References:
 * 1) https://piccalil.li/blog/a-more-modern-css-reset/
 * 2) https://fokus.dev/tools/uaplus/
 * 3) https://www.joshwcomeau.com/css/custom-css-reset/
 * 4) https://github.com/jensimmons/cssremedy
 */

*,
*::before,
*::after {
  /* More intuitive box sizing */
  box-sizing: border-box;

  /* Prefer spacing to come from discrete CSS layouts/rules */
  margin: 0;
}

html {
  /* Prevent font size inflation (intended to improve readability on non-mobile-optimized sites switching between portrait and landscape) [1, 2]*/
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* Consistent line-spacing, even when inline elements have different line-heights. [4] */
  /* line-sizing: normal; */

  /* Prevent overscroll bounce */
  overscroll-behavior: none;

  /* Prevent scrollbar from appearing and disappearing when switching from a long to a short page [2]*/
  scrollbar-gutter: stable;
}

body {
  /* Ensure ICB fills the initial viewport (dynamically) [https://www.youtube.com/watch?v=xl9R8aTOW_I]*/
  min-height: 100dvh;

  /* improve text rendering on macOS [3] */
  -webkit-font-smoothing: antialiased;
}

/* Avoid text overflows [3] */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Avoid text overflow [4] */
:where(pre) {
  white-space: pre-wrap;
}

/* Rebalance text to prevent orphan words (⚠️ possible performance concern) [3] */
:where(p) {
  text-wrap: "pretty";
}

/* Make media defaults more intuitive for layout and sizing [2, 3] */
img,
iframe,
audio,
video,
canvas,
svg {
  display: block;
  max-block-size: 100%;
  max-inline-size: 100%;
}

/* Handle responsive images like regular images [4] */
picture {
  display: contents;
}

/* Inherit fonts for inputs and buttons [1, 3] */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Remove the rounded corners of search inputs on macOS and IOS and normalize the background color  [2] */
:where([type="search"]) {
  -webkit-appearance: textfield;
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
  :where([type="search"]) {
    border: 1px solid -apple-system-secondary-label;
    background-color: canvas;
  }
}

/* improve default table styling [2] */
:where(table) {
  border-collapse: collapse;
  border: 1px solid;
}

:where(th, td) {
  border: 1px solid;
  padding: 0.25em 0.5em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
