/*               __          __        ___  __  
 *    \  /  /\  |__) |  /\  |__) |    |__  /__` 
 *     \/  /==\ |  \ | /==\ |__) |___ |___ .__/ 
 */

:root {
  /* COLOURS */
  /* rgba(137 48 145 / 1) */
  --c-violet-lighter: rgba(231 213 233 / 1);
  --c-violet-light: rgba(184 130 189 / 1);
  --c-violet: lch(37% 60 323);
  --c-violet-dark: rgba(82 28 87 / 1);

  /* rgba(43 44 125 / 1) */
  --c-navy-lighter: rgba(212 212 229 / 1);
  --c-navy-light: rgba(127 128 177 / 1);
  --c-navy: lch(22% 52 294);
  --c-navy-dark: rgba(25 26 75 / 1);

  /* rgba(53 156 154 / 1) */
  --c-teal-lighter: rgba(214 235 234 / 1);
  --c-teal-light: rgba(133 195 194 / 1);
  --c-teal: lch(58% 32 195);
  --c-teal-dark: rgba(31 93 92 / 1);

  --c-cream: rgba(249 244 249 / 1);

  --c-bg: var(--c-cream);

  /* SCALE */
  /* @link https://utopia.fyi/type/calculator?c=400,15,1.125,1200,20,1.333,7,2,1240&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --s7: clamp(3.3594rem, 0.365rem + 11.9775vw, 9.3481rem);
  --s6: clamp(2.7994rem, 0.6928rem + 8.4263vw, 7.0125rem);
  --s5: clamp(2.3325rem, 0.8684rem + 5.8563vw, 5.2606rem);
  --s4: clamp(1.9438rem, 0.9422rem + 4.0063vw, 3.9469rem);
  --s3: clamp(1.62rem, 0.9497rem + 2.6812vw, 2.9606rem);
  --s2: clamp(1.35rem, 0.9144rem + 1.7425vw, 2.2213rem);
  --s1: clamp(1.125rem, 0.8544rem + 1.0825vw, 1.6663rem);
  --s0: clamp(0.9375rem, 0.7813rem + 0.625vw, 1.25rem);
  --s-1: clamp(0.7813rem, 0.7031rem + 0.3125vw, 0.9375rem);
  --s-2: clamp(0.6513rem, 0.625rem + 0.105vw, 0.7038rem);
  --s-3: clamp(0.5275rem, 0.7234rem + -0.2612vw, 0.6581rem);
  --s-4: clamp(0.3956rem, 0.6797rem + -0.3787vw, 0.585rem);

  /* TYPOGRAPHY */
  --font-light: "Latina Essential Light", sans-serif;
  --font-heavy: "Latina Essential Heavy", serif;
  --font: var(--font-light);
  --font-size: var(--s0);
  --line-height: 1.5;
  --measure: 70ch;
}

/*     __        __   __            
 *    / _` |    /  \ |__)  /\  |    
 *    \__> |___ \__/ |__) /==\ |___ 
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  overscroll-behavior: none;
}

body {
  font-size: var(--font-size);
  font-family: var(--font);
  line-height: var(--line-height);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: var(--c-navy-dark);
}

:where(.gappy > * + *) {
  margin-block-start: var(--s0);
}

/*     ___  __       ___  __  
 *    |__  /  \ |\ |  |  /__` 
 *    |    \__/ | \|  |  .__/ 
 */

@font-face {
  font-family: "Latina Essential Light";
  src: url("../fonts/LatinaEssential-Light.eot") format("embedded-opentype"),
    url("../fonts/LatinaEssential-Light.woff2") format("woff2"),
    url("../fonts/LatinaEssential-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Latina Essential Light";
  src: url("../fonts/LatinaEssential-Bold.eot") format("embedded-opentype"),
    url("../fonts/LatinaEssential-Bold.woff2") format("woff2"),
    url("../fonts/LatinaEssential-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Latina Essential Light";
  src: url("../fonts/LatinaEssential-LightIt.eot") format("embedded-opentype"),
    url("../fonts/LatinaEssential-LightIt.woff2") format("woff2"),
    url("../fonts/LatinaEssential-LightIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Latina Essential Heavy";
  src: url("../fonts/LatinaEssential-Heavy.eot") format("embedded-opentype"),
    url("../fonts/LatinaEssential-Heavy.woff2") format("woff2"),
    url("../fonts/LatinaEssential-Heavy.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*    ___      __   __   __   __        __           
 *     |  \ / |__) /  \ / _` |__)  /\  |__) |__| \ / 
 *     |   |  |    \__/ \__> |  \ /==\ |    |  |  |                                                     
 */

h1,
h2,
h3,
h4,
p,
ul,
ol,
dl,
pre,
code,
blockquote {
  max-inline-size: var(--measure);
}

::selection {
  background-color: var(--c-navy);
  color: white;
}

h1,
h2,
h3,
h4 {
  font-size: var(--font-size);
  font-family: var(--font);
  line-height: 1;
}

h2 {
  --font-size: var(--s2);
  --font: var(--font-heavy);
  --measure: 40ch;
  margin-block-start: var(--s3);
  margin-block-end: var(--s1);
  color: var(--c-navy);
}

h3 {
  --font-size: var(--s1);
  --measure: 50ch;
  color: var(--c-navy);
}

a {
  position: relative;
  color: currentColor;
  --line-height: 1;
  text-decoration-color: var(--c-violet-light);
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.5ex;
  transition: 0.5s all ease;

  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    height: 0;
    left: 0;
    right: 0;
    bottom: -0.5ex;
    transition: 0.5s all ease;
  }

  &:hover {
    text-underline-offset: 0.8ex;

    &::before {
      background-color: var(--c-violet-lighter);
      transition: 0.5s all ease;
      height: 150%;
    }
  }
}

pre {
  padding: var(--s-3) var(--s-2);
}

code {
  font-size: 1.1em;
  color: var(--c-teal-dark);
  background: var(--c-teal-lighter);
}

.lede {
  --measure: 60ch;
  font-size: var(--s1);
  line-height: 1.2;
}

.small {
  font-size: 0.8em;
}

/*     ___       ___        ___      ___  __  
 *    |__  |    |__   |\/| |__  |\ |  |  /__` 
 *    |___ |___ |___  |  | |___ | \|  |  .__/ 
 */

img,
picture {
  max-width: 100%;
  display: block;
}

/*         ___          ___    ___  __  
 *    |  |  |  | |    |  |  | |__  /__` 
 *    \__/  |  | |___ |  |  | |___ .__/ 
 */

/* Hide from visual display only
   https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  a:focus,
  input:focus,
  button:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.inline-list {
  list-style-type: "";
  display: inline-flex;
  gap: var(--s-2);
  margin: 0;
  padding: 0;
}
