/*               __          __        ___  __  
 *    \  /  /\  |__) |  /\  |__) |    |__  /__` 
 *     \/  /==\ |  \ | /==\ |__) |___ |___ .__/ 
 */

:root {
  /* COLOURS */
  /* rgba(137 48 145 / 1) */
  --c-violet-lighter: rgba(231 213 233 / 1);
  --c-violet-light: rgba(184 130 189 / 1);
  --c-violet: lch(37% 60 323);
  --c-violet-dark: rgba(82 28 87 / 1);

  /* rgba(43 44 125 / 1) */
  --c-navy-lighter: rgba(212 212 229 / 1);
  --c-navy-light: rgba(127 128 177 / 1);
  --c-navy: lch(22% 52 294);
  --c-navy-dark: rgba(25 26 75 / 1);

  /* rgba(53 156 154 / 1) */
  --c-teal-lighter: rgba(214 235 234 / 1);
  --c-teal-light: rgba(133 195 194 / 1);
  --c-teal: lch(58% 32 195);
  --c-teal-dark: rgba(31 93 92 / 1);

  --c-cream: rgba(249 244 249 / 1);

  --c-bg: var(--c-cream);

  /* SCALE */
  --ratio: 1.5;
  --s5: calc(var(--s4) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s1: calc(var(--s0) * var(--ratio));
  --s0: 1rem;
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));

  /* TYPOGRAPHY */
  --font: "Latina Essential Light", sans-serif;
  --font-size: var(--s0);
  --line-height: var(--ratio);
  --measure: 70ch;

  /* LAYOUT */
  --left-border-width: var(--s-1);
}

/*     __        __   __            
 *    / _` |    /  \ |__)  /\  |    
 *    \__> |___ \__/ |__) /==\ |___ 
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: normal;

  &::selection {
    background-color: var(--c-navy);
    color: white;
  }
}

html {
  overscroll-behavior: none;
}

/*     ___  __       ___  __  
 *    |__  /  \ |\ |  |  /__` 
 *    |    \__/ | \|  |  .__/ 
 */

@font-face {
  font-family: "Latina Essential Light";
  src: url("../fonts/LatinaEssential-Light.eot") format("embedded-opentype"),
    url("../fonts/LatinaEssential-Light.woff2") format("woff2"),
    url("../fonts/LatinaEssential-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Latina Essential Light";
  src: url("../fonts/LatinaEssential-LightIt.eot") format("embedded-opentype"),
    url("../fonts/LatinaEssential-LightIt.woff2") format("woff2"),
    url("../fonts/LatinaEssential-LightIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Latina Essential Heavy";
  src: url("../fonts/LatinaEssential-Heavy.eot") format("embedded-opentype"),
    url("../fonts/LatinaEssential-Heavy.woff2") format("woff2"),
    url("../fonts/LatinaEssential-Heavy.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*    ___      __   __   __   __        __           
 *     |  \ / |__) /  \ / _` |__)  /\  |__) |__| \ / 
 *     |   |  |    \__/ \__> |  \ /==\ |    |  |  |                                                     
 */

h1,
h2,
h3,
h4,
p,
ul:not([role="list"]),
ol:not([role="list"]),
dl,
pre,
code,
blockquote {
  max-inline-size: var(--measure);
}

h1,
h2,
h3,
h4 {
  --font: "Latina Essential Heavy", serif;
  --line-height: 1.2;
}

h1 {
  --font-size: var(--s5);
  -webkit-text-stroke: 3px var(--c-navy);
  color: transparent;
  text-shadow: 0.03em 0.03em var(--c-teal);
  margin-block-end: var(--s3);
}

h2 {
  --font-size: var(--s2);
  margin-block: var(--s2);
  color: var(--c-navy);
}

h3 {
  --font-size: var(--s1);
}

a {
  text-decoration: none;
}

a:not([class]) {
  --line-height: 1;
  color: var(--c-violet);
  display: inline-block;
  border-bottom: 2px solid var(--c-violet-light);
  transition: 0.5s all ease;
  padding: 2px;

  &:hover {
    background-color: var(--c-violet-lighter);
    transition: 0.5s all ease;
  }
}

p + p,
p + pre,
pre + p {
  margin-block-start: var(--s0);
}

code,
pre {
  --font: monospace;
  color: var(--c-navy);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.lede {
  font-size: var(--s1);
  line-height: 1.2;
}

/*     ___       ___        ___      ___  __  
 *    |__  |    |__   |\/| |__  |\ |  |  /__` 
 *    |___ |___ |___  |  | |___ | \|  |  .__/ 
 */

img,
picture {
  max-width: 100%;
  display: block;
}

/*         ___          ___    ___  __  
 *    |  |  |  | |    |  |  | |__  /__` 
 *    \__/  |  | |___ |  |  | |___ .__/ 
 */

/* Hide from visual display only
   https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  a:focus,
  input:focus,
  button:focus {
    position: static;
    width: auto;
    height: auto;
  }
}
