/* Hide from visual display only
   https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  a:focus,
  input:focus,
  button:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

/* 
FLOW COMPOSITION
https://piccalil.li/blog/my-favourite-3-lines-of-css/ 
*/
.stack > * + * {
  margin-block-start: var(--stack-space, 1em);
}

.inline-list {
  list-style-type: "";
  display: inline-flex;
  gap: var(--s-2);
  margin: 0;
  padding: 0;
}

/* .full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
} */
