:root {
  /* PALETTE */
  --color-cream: hsl(48, 66%, 95%);
  --color-green-1: hsl(175, 27%, 85%);
  --color-green-2: hsl(175, 20%, 48%);
  --color-green-3: hsl(175, 54%, 25%);
  --color-green-4: hsl(175, 100%, 10%);
  --color-violet: hsl(309, 49%, 29%);

  /* THEME */
  --color-bg-light: var(--color-cream);
  --color-bg-light-alt: var(--color-green-1);
  --color-bg-dark: var(--color-green-4);

  --color-text-dark: var(--color-green-4);
  --color-text-light: var(--color-cream);
  --color-text-light-alt: var(--color-green-1);
  --color-text-heading: var(--color-green-3);
  --color-text-code: var(--color-green-3);
  --color-selection-text: var(--color-cream);
  --color-selection-bg: var(--color-green-3);

  --color-interactive: var(--color-violet);
  --color-accent: var(--color-green-2);
  --color-error: firebrick; /* TODO: replace */

  --color-highlight: var(--color-green-1);

  /* TODO: settle a grey palette, apply to kbd, and remove these */
  --kbd-text-color: var(--color-text-dark);
  --kbd-bg-color: #cccccc50;
  --kbd-border-color: #ccc;
  --kbd-shadow-color: #888;

  /* SCALE */
  /* @link https://utopia.fyi/type/calculator?c=400,15,1.125,1200,20,1.333,7,2,1240&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --s7: clamp(3.3594rem, 0.365rem + 11.9775vw, 9.3481rem);
  --s6: clamp(2.7994rem, 0.6928rem + 8.4263vw, 7.0125rem);
  --s5: clamp(2.3325rem, 0.8684rem + 5.8563vw, 5.2606rem);
  --s4: clamp(1.9438rem, 0.9422rem + 4.0063vw, 3.9469rem);
  --s3: clamp(1.62rem, 0.9497rem + 2.6812vw, 2.9606rem);
  --s2: clamp(1.35rem, 0.9144rem + 1.7425vw, 2.2213rem);
  --s1: clamp(1.125rem, 0.8544rem + 1.0825vw, 1.6663rem);
  --s0: clamp(0.9375rem, 0.7813rem + 0.625vw, 1.25rem);
  --s-1: clamp(0.7813rem, 0.7031rem + 0.3125vw, 0.9375rem);
  --s-2: clamp(0.6513rem, 0.625rem + 0.105vw, 0.7038rem);
  --s-3: clamp(0.5275rem, 0.7234rem + -0.2612vw, 0.6581rem);
  --s-4: clamp(0.3956rem, 0.6797rem + -0.3787vw, 0.585rem);

  /* TYPOGRAPHY */
  --font-light: "Latina Essential Light", sans-serif;
  --font-heavy: "Latina Essential Heavy", sans-serif;
  --font-code: "Consolas";
  --font-size-code: 1.1em;
  --line-height: 1.5;
  --measure: 60ch;

  /* LAYOUTS */
  --layout-grid-gutter-width: var(--s0);
  --layout-grid-margin-width: 1fr;
  --layout-grid-side-width: minmax(0, 20ch);
  --layout-grid-center-width: minmax(auto, 40ch);

  /* prettier-ignore */
  --layout-grid-template:
  /* for simpler column naming (use with `grid-column` only */
      "full full full full full full full"
      ". content content content content content ."
      ". . left middle right . ."
      ". wide-left wide-left . . . ."
      ". . mid-left mid-left . . ."
      ". . . mid-right mid-right . ."
      ". . . . wide-right wide-right ."
      /
      var(--layout-grid-gutter-width)
      var(--layout-grid-margin-width)
      var(--layout-grid-side-width)
      var(--layout-grid-center-width)
      var(--layout-grid-side-width)
      var(--layout-grid-margin-width)
      var(--layout-grid-gutter-width);
}
