---
import Page from "../layouts/Page.astro";
---

<Page title="about me" h1="hi, i'm sylvia">
  <h2>The Web</h2>
  <p>
    Some people know me for my work: I am a UX- and accessibility-focused
    front-end web developer at a small studio within a large consulting firm. I
    love bringing designers and developers together to craft beautiful,
    accessible, scalable, and maintainable interfaces that people can easily
    understand, use, and enjoy.
  </p>
  <a href="/web">
    Learn more
    <span class="visually-hidden">about my work on the web</span>
  </a>

  <h2>The horses</h2>
  <p>
    Many people also know me as an equestrian. I don't know how I was lucky
    enough to become involved with horses, but I started with bi-weekly riding
    lessons when I was 12 and things snowballed from there. Horses were at the
    root of my first job, my relief from multiple batlles with depression,
  </p>
  <a href="/equine">
    Learn more
    <span class="visually-hidden">about my life with horses</span>
  </a>

  <h2>The rest</h2>
</Page>
