---
import Page from "../layouts/Page.astro";
---

<Page title="about">
  <p>
    <b>Hi, I'm sylvia</b>, and this is my website. It's a perpetually incomplete
    space with an identity crisis: it must both be some sort of professional
    representation of myself, but also longs for the days when I just put
    whatever I wanted online because it made me happy.
  </p>
  <p>
    Anyway, here's a collection of things you may have come here to learn about
    me, and maybe some that will surprise or entertain you, I guess.
  </p>

  <h2>the web</h2>
  <ul>
    <li>
      I'm a <b
        ><a
          href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/"
          >front-of-the-front-end</a
        > web developer</b
      >, originally a long-time amateur and now a bootcamp-trained professional.
    </li>
    <li>
      I like to work closely with designers to create interfaces that are
      focused, intentional, memorable, fully responsive and as accessible as
      possible. I believe designers and developers have a lot to gain from
      working closely together.
    </li>
    <li>I love design systems.</li>
    <li>
      I believe that the web is for everyone, and that accessibility should be a
      priority for all developers, so that we can build experiences that are
      inclusive, usable, and safe for everyone.
    </li>
  </ul>

  <h2>the horses</h2>
  <ul>
    <li>I'm an <b>equestrian</b>, but I try not to be "the horse girl".</li>
    <li>
      I've competed in hunter, jumper, eventing, and dressage competitions,
      though not at any remarkable level.
    </li>
    <li>
      I've groomed professionally for amateur and professional hunters and
      jumpers at remarkable levels (provincial, national, and
      international/FEI).
    </li>
    <li>
      I own a wonderful little American Warmblood mare named Liberty. We mostly
      focus on classical dressage, and I usually prefer to ride her bareback and
      bitless.
    </li>
  </ul>

  <h2>& the rest</h2>
  <ul>
    <li>I live in Toronto.</li>
    <li>
      I enjoy outdoor sports and activities like hiking, camping, and paddling.
      I especially love that my wonderpup, Billie (a rescued lab-mix from
      Texas), gets to join in!
    </li>
    <li>
      I enjoy interior decorating, especially with thrifted and DIY decor. It's
      taking me forever to get my apartment just the way I want, but I'm
      enjoying the process.
    </li>
    <li>
      I'm a generally well-functioning introvert, and as long as someone else
      breaks the ice, I can even be sociable!
    </li>
    <li>I appreciate semicolons, em dashes, and Oxford commas.</li>
  </ul>
</Page>
