---
import Page from "../layouts/Page.astro";
---

<Page title="colophon">
  <p>
    This, my personal website (like so many developer projects) is under
    constant iteration and never seems to be complete. Here are some technical
    details and general nerdery about this website.
  </p>

  <h2>Design</h2>
  <p>
    The completely responsive design is entirely my own, handcrafted within the
    browser, amid excruciating indecision and paralyzing doubt.
  </p>

  <p>
    Icons are from the
    <a href="https://www.svgrepo.com/collection/arcticons-thin-line-icons/"
      >Arcticons</a
    >
    collection on <a href="https://www.svgrepo.com/">SVG Repo</a>.
  </p>
  <p>
    The site logo is a simple 5-set Venn diagram, because I love Venn diagrams,
    pentameric design, rotational symmetry, ellipses, and the intersections and
    unions of my diverse and nerdy interests.
  </p>

  <h2>Typography</h2>

  <p>
    Body type is set in **Latina Essential Light**, by
    <a href="http://www.latinotype.com">Latinotype</a>, which has a soft,
    rounded character that I love. I had previously paired it with a rounded
    serif font for headings, but those have become way too trendy, and I
    recently decided I didn't love the one I had been using. I've since switched
    to <b>Latina Essential Heavy</b>, not just to stick within the font family,
    but mostly because it reminds me so much of the block letters I used to use
    for headings in my notebooks growing up, complete with fun angles. [And
    those oblong tittles are too adorable!] The script in the logotype is my own
    handwriting. Font scaling was handled with <a href="https://utopia.fyi"
      >Utopia</a
    >.
  </p>

  <h2>Development & Deployment</h2>

  <p>
    The current iteration is built with <a href="https://astro.build">Astro</a>,
    because I'm a fan of straightforward static site generators, and this one
    gives me everything where and how I want it. The accessible, semantic,
    standards-compliant HTML and CSS was hand-coded in
    <a href="https://code.visualstudio.com/">VS Code</a>. Images are hosted on
    <a href="https://cloudinary.com">Cloudinary</a> and some data is hosted on
    <a href="https://sanity.io">Sanity</a>. The repository is hosted on
    <a href="https://github.com/svillegascreative/svillegas-astro">Github</a>,
    and deployed with <a href="https://netlify.com">Netlify</a>. Isn't the
    JAMstack fun?
  </p>

  <h2>Accessibility</h2>

  <p>
    Accessibility and inclusivity have been a top priority throughout the
    development of this site, so I try to follow web standards and best
    practices, to write semantic and valid HTML, progressively styled and
    enhanced. Care has been taken to ensure type contrast levels meeting at
    least
    <a href="https://www.w3.org/TR/WCAG22/">WCAG 2.2</a> AA specifications, and ensure
    the entire website is usable via keyboard and assistive technologies.
  </p>
</Page>
