---
import Document from "../layouts/Document.astro";

const title = "Colophon";
---

<Document>
  <article>
    <h1>{title}</h1>

    <p>
      This, my personal website, has seen at least 6 incarnations at this domain
      since 2010, and &mdash; like so many developer projects &mdash; is under
      constant iteration and never seems to be complete. Below are some
      technical details and general nerdery about this website.
    </p>

    <h2>Design</h2>
    <p>
      The completely responsive design is entirely my own, handcrafted within
      the code, amid excruciating indecision and paralyzing doubt.
    </p>
    <!-- <p>
      The colour palette was eventually settled with the help of
      <a href="https://palettte.app/")>Palette App</a>.
    </p> -->
    <p>
      Body type is set in <b>Latina Essential Light</b>, by
      <a href="http://www.latinotype.com">Latinotype</a>, which has a soft,
      rounded character that I love. I had previously paired it with a rounded
      serif font for headings, but those have become way too trendy, and I
      recently decided I didn't love the one I had been using. I've since
      switched to <b>Latina Essential Heavy</b>, not just to stick within the
      font family, but mostly because it reminds me so much of the block letters
      I used to use for headings in my notebooks growing up, complete with fun
      angles. [And those oblong tittles are too adorable!] The script in the
      logotype is my own handwriting.
    </p>
    <p>
      The logo itself is a 5-set Venn diagram, because I love Venn diagrams,
      pentameric design, rotational symmetry, ellipses, and the intersections
      and unions of my diverse and nerdy interests.
    </p>

    <h2>Development & Deployment</h2>
    <p>
      The current iteration is built with <a href="https://astro.build">
        Astro
      </a>, because I'm a fan of straightforward static site generators, and
      this one gives me everything where and how I want it. The accessible,
      semantic, standards-compliant HTML and CSS was hand-coded in <a
        href="https://code.visualstudio.com/">
        VS Code
      </a>.
    </p>
    <p>
      Images are hosted on
      <a href="https://cloudinary.com">Cloudinary</a> and some data is hosted on
      <a href="https://sanity.io">Sanity</a>. The repository is hosted on <a
        href="">
        Github
      </a>, and deployed with <a href="https://netlify.com">Netlify</a>. Isn't
      the JAMstack fun?
    </p>

    <h2>Accessibility</h2>
    <p>
      Accessibility and inclusivity have been a top priority throughout the
      development of this site, so I try to follow web standards and best
      practices, to write semantic and valid HTML, progressively styled and
      enhanced. Care has been taken to ensure type contrast levels meeting at
      least <a href="https://www.w3.org/TR/WCAG20/">WCAG 2.0 AA</a>
      specifications, and ensure the entire website is usable via keyboard and assistive
      technologies.
    </p>

    <h2>History</h2>
    <ol reversed>
      <li>An Eleventy site much like this one that just... never got done.</li>
      <li>
        A simple, completely static and responsive holding page with minimal
        contact info. A placeholder & sign of my indecision.
      </li>
      <li>
        A digital portfolio built on Wordpress, mostly showcasing some of my dev
        projects and photography.
      </li>
      <li>
        Another Joomla!-built site to display portraits and photo galleries,
        with a completely-from-scratch template featuring an asymmetrical
        design.
      </li>
      <li>
        Used mainly to display proofs and sell prints while I did some
        equestrian photography, and a weak attempt at blogging. Built with:
        Joomla!, PhocaGallery, PayPal.
      </li>
      <li>
        A commercial site used to display my commissioned animal portraits, and
        generate new business. Hosted on Angelfire, hand-coded HTML, before CSS
        was a thing.
      </li>
      <li>
        A personal site on Angelfire full of teenage banalities and a cool
        starry background. I didn't use all the crazy gifs, but probably at
        least one <code>{`<marquee>`}</code>, and I was sad that I never
        mastered <code>{`<frame>`}</code>s.
      </li>
    </ol>
  </article>
</Document>
