---
import { getCollection } from "astro:content";
import Page from "../layouts/Page.astro";

const forSale = await getCollection("for-sale");
---

<Page title="for sale">
  <ul>
    {
      forSale.map((item) => (
        <li>
          <h2>{item.data.title}</h2>
          <p>{item.data.price}</p>
          <ul>
            {item.data.photos.map((photo) => (
              <li>
                <img src={photo} />
              </li>
            ))}
          </ul>
          <p>{item.data.description}</p>
        </li>
      ))
    }
  </ul>
</Page>
