---
/* A landing page for prospective employers, while I'm looking for work. */

import LogoSoup from "../components/LogoSoup.astro";
import Article from "../layouts/Article.astro";
---

<Article>
  <h1>hire me</h1>

  <p class="lede">
    I'm a Front End Developer with a focus on <strong
      >accessibility and design systems</strong
    >, currently looking for a full-time permanent or contract role.
  </p>

  <a href="https://linkedin.com/in/sylviavillegas">LinkedIn</a>
  <a href="https://github.com/svillegascreative">Github</a>
  <a href="">Resume</a>

  <h2>What I'm looking for</h2>

  <p>
    I'm looking to join a team that cares about building excellent experiences,
    both for developers and for end users. We will work on collaborative systems
    that help make us efficient, powerful, and fast. This will enable us to
    unleash our creative potential and develop superior web experiences that are
    clear, performant, memorable, and accessible to all users. In fact, we'll
    put our users first, and we'll lead with research, because we don't want to
    make assumptions about what's really going to fly.
  </p>

  <p>Gosh, we really make a great team, don't we!?</p>

  <h2>Tech skills</h2>
  <p>
    I'm highly adaptable, and have experience with a wide range of tools and
    technologies. If I haven't tried your whole stack, I've probably been close
    enough.
  </p>
  <LogoSoup />
</Article>
