---
import Page from "../layouts/Page.astro";
import LogoSoup from "../components/LogoSoup.astro";
---

<Page title="hire sylvia">
  <p class="lede" slot="lede">
    Hi, I'm <strong>sylvia</strong>. I'm a Front End Developer with a focus on <strong
      >accessibility</strong
    > and <strong>design systems</strong>, currently looking for a full-time
    permanent or contract role.
  </p>

  <h2>About me</h2>
  <p>
    I was a long-time self-taught amateur web developer who finally decided to
    take an intensive web development bootcamp and make a career of it. In the
    last 6 years, I've worked at both a small agency and a large consultancy
    with a variety of clients, collaborating on multi-disciplinary teams from
    planning and design stages through to execution and delivery.
  </p>
  <p>
    My current focus lies on both the <abbr title="User eXperience">UX</abbr> and
    <abbr title="Developer eXperience">DX</abbr> of beautiful, clear, performant
    user interfaces. I am fanatic about usability, and especially accessibility,
    because I believe that <strong>the web is for everyone</strong> and no one should
    be left out. I am fluent in design- and engineer-speak, and move comfortably
    across teams, helping to translate ideas and solve complex user problems. Design
    systems are my love language and code is my craft.
  </p>

  <h2>What I can do</h2>
  <ul>
    <li>front end development</li>
    <li>UI critique</li>
    <li>accessibility audits, remediation, and education</li>
    <li>mentorship and coaching</li>
    <li>design systems</li>
  </ul>

  <h3>Tech skills</h3>
  <p>
    I've taught myself to work with several technologies and tools, and have
    learned others on the job. I'm highly adaptable; if I haven't tried your
    whole stack, I've probably been close, and I'm always ready to learn the
    rest.
  </p>
  <LogoSoup />

  <h3>Companies I've worked with</h3>
  <p>
    As part of my agency work, I've had the pleasure of building with teams
    delivering world-class experiences for many great clients, brands, and
    non-profit groups.
  </p>
  <ul>
    <li>Purolator</li>
    <li>Deloitte</li>
    <li>The Prosperity Project</li>
    <li>Government of Canada</li>
    <li>Loblaw Digital</li>
    <li>Loblaw Agency</li>
    <li>No Frills</li>
    <li>Pane Fresco</li>
    <li>Sonnet Insurance</li>
    <li>NCCPP</li>
  </ul>

  <h3>Projects</h3>
  <p>Some personal projects</p>
  <a href="projects/">See more</a>

  <h2>What nice people have said about me</h2>
  <ul>
    <li>
      <q
        >Sylvia is a designer's dream engineering partner....Working with sylvia
        has made me a better designer</q
      >
    </li>
    <li>
      <q>Highly recommend her for building user centric digital products</q>
    </li>
    <li>
      <q
        >As a product manager, sylvia is the IDEAL engineer....If I were
        building a dream team, sylvia would be on it.</q
      >
    </li>
    <li>
      <q>She brings design thinking, creativity, and empathy to her solutions</q
      >
    </li>
    <li>
      <q
        >super helpful, so clear and informative to me and my squads, patient,
        just an AMAZING person to work with</q
      >
    </li>
    <li>
      <q>[Her] passion for accessibility [is] both inspiring and infectious</q>
    </li>
  </ul>
  <a href="https://www.linkedin.com/in/sylviavillegas/details/recommendations"
    >See recommenations on LinkedIn</a
  >

  <h2>What I'm looking for</h2>
  <p>
    I'm looking to join a team that cares about building excellent experiences,
    both for developers and for end users. We will work on collaborative systems
    that help make us efficient, powerful, and fast. This will enable us to
    unleash our creative potential and develop superior web experiences that are
    clear, performant, memorable, and accessible to all users. In fact, we'll
    put our users first, and we'll lead with research, because we don't want to
    make assumptions about what's really going to fly.
  </p>

  <p>Gosh, we really make a great team, don't we!?</p>

  <h2>Get in touch!</h2>
  <ul class="info">
    <li>
      <a href="https://linkedin.com/in/sylviavillegas">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/svillegascreative">Github</a>
    </li>
    <li>
      <a href="public/files/sylvia-villegas_UX-UI-Developer.pdf">Resume</a>
    </li>
    <li>sylvia@svillegas.com</li>
  </ul>
</Page>
