---
import Document from "../layouts/Document.astro";
---

<Document title="HTML test page">
  <article class="prose stack">
    <header class="stack">
      <h1>HTML Test Page</h1>
      <p>
        This is a test page filled with common HTML elements to be used to
        provide visual feedback whilst building CSS systems and frameworks.
      </p>
      <p>
        Adapted from <a
          href="https://github.com/cbracco/html5-test-page/blob/master/index.html"
          >this HTML5 test page</a
        > and sweetened with <a href="https://cupcakeipsum.com">Cupcake ipsum</a
        >.
      </p>
    </header>

    <h2>Some inline text elements in paragraphs</h2>
    <h3>This is a heading 3</h3>
    <p>
      Muffin gummies gingerbread macaroon. <em>This text has added emphasis.</em
      > Sweet sugar plum cake biscuit. Tiramisu gingerbread biscuit cake cookie.
      Tiramisu donut macaroon chocolate bar <abbr
        title="HyperText Markup Language">HTML</abbr
      > gingerbread cake soufflé powder.
    </p>
    <p>
      Cake ice cream icing carrot cake dragée cake chocolate bar tootsie roll<sup
        >®</sup
      >
      chocolate bar. Marzipan soufflé <a href="#!">a text link</a> marshmallow wafer
      <b>b element</b> chupa chups gummies pastry. <a href="#!"
        >Sweet roll danish jelly-o pastry sugar plum dessert pudding dessert.</a
      >
      <strong>Strong is used to indicate strong importance.</strong>
    </p>
    <h4>Fourth level heading</h4>
    <p>
      Sweet roll <a href="#!" target="_blank">an external text link</a> marshmallow
      dessert jelly beans <u>u element</u> bear claw jelly-o. Bear claw chupa chups
      gummi bears cotton candy toffee. Soufflé shortbread pastry H<sub>2</sub>O
      lemon drops toffee. <small
        >This small text is small for fine print, etc.</small
      >
    </p>
    <p>
      Powder pudding topping toffee sugar plum candy canes pastry sweet. <del
        >This text is deleted</del
      > and <ins>This text is inserted</ins>. Chupa chups pastry macaroon muffin
      cake croissant cotton candy gingerbread. Dragée bear claw donut croissant
      ice cream sweet roll. <cite>This is a citation.</cite> Gummies biscuit sweet
      roll lemon drops <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time
      > tart sweet oat cake marshmallow ice cream.
    </p>

    <blockquote>
      <p>
        Muffin ice cream dessert gummies bonbon jelly macaroon. Gingerbread pie
        brownie jelly beans gingerbread cake topping jelly beans cake. Chocolate
        bar cookie lemon drops tiramisu sugar plum jujubes.
      </p>
      <cite><a href="#!">Said no one, ever.</a></cite>
    </blockquote>

    <p>
      Cake chupa chups brownie <code>shortbread</code> liquorice macaroon oat cake
      <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Del</kbd> marzipan pastry. Topping
      macaroon fruitcake chocolate bar donut carrot cake muffin. Topping chupa chups
      <i>i element</i> caramels donut cotton candy <s
        >This text has a strikethrough</s
      >. Sesame snaps cheesecake candy. Candy sesame snaps chocolate carrot cake
      icing cookie. <samp>This is the `samp` element.</samp>
      <output>It seems similar to `output`.</output>
    </p>
    <h5>Wow, Heading 5 down here</h5>
    <p>
      Brownie cupcake <mark>mark element</mark> sweet sweet gingerbread. Shortbread
      biscuit <dfn>dfn element</dfn> bear claw dragée pastry donut. Sweet roll cake
      danish cake tiramisu.
    </p>

    <pre>P R E F O R M A T T E D T E X T
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
<code>P Q R S T U V W X Y Z [ \ ] ^ _</code>
` a b c d e f g h i j k l m n o
p q r s t u v w x y z |  ~ </pre>

    <h6>Heading 6, as if anyone uses these</h6>
    <p>
      Powder pudding jujubes icing <q
        cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q"
        >This text is a short inline quotation.</q
      > chocolate ice cream topping jelly beans jelly. Biscuit cotton candy muffin
      marshmallow chocolate toffee chocolate bar. The <var>variable element</var
      >, such as <var>x</var> = <var>y</var>. Gummies marzipan marzipan
      croissant sweet roll. Toffee danish marshmallow sugar plum toffee danish.
    </p>

    <h3>There are different types of lists</h3>
    <h4>Definition list</h4>
    <dl>
      <dt>Brownie</dt>
      <dd>
        Chocolate cake lollipop danish chupa chups pie sesame snaps. Bonbon
        pastry topping.
      </dd>
      <dt>Icing</dt>
      <dd>
        Chocolate cake halvah oat cake topping. Candy lemon drops cookie apple
        pie brownie.
      </dd>
      <dt>Powder pudding</dt>
      <dd>topping toffee sugar plum candy canes pastry.</dd>
    </dl>

    <h4>Ordered Lists</h4>
    <ol type="1">
      <li>
        Shortbread chupa chups gummies pastry powder macaroon jelly beans
        lollipop.
      </li>
      <li>
        Pudding pastry candy powder pudding wafer marzipan brownie.
        <ol type="A">
          <li>
            Toffee sweet roll lemon drops biscuit croissant danish. Sweet roll
            macaroon chupa chups ice cream candy canes.
          </li>
          <li>
            Gummies caramels bonbon powder chupa chups sugar plum cookie muffin
            wafer.
          </li>
          <li>
            Soufflé chupa chups icing halvah powder icing cookie marshmallow.
          </li>
        </ol>
      </li>
      <li>
        Gummies tiramisu dragée cotton candy brownie donut donut fruitcake cake.
        Tiramisu marshmallow gummies chocolate cake icing oat cake liquorice.
        Dessert biscuit halvah dragée fruitcake jelly beans wafer candy.
      </li>
    </ol>

    <ol type="a">
      <li>Pudding chupa chups halvah dessert pie dessert apple pie.</li>
      <li>
        Biscuit jujubes powder soufflé muffin cotton candy wafer.
        <ol type="I">
          <li>Lollipop lollipop powder icing dragée tart cake.</li>
          <li>
            Tiramisu lollipop muffin chocolate carrot cake.
            <ol type="i">
              <li>
                Dragée jelly beans caramels powder gummies tootsie roll tootsie
                roll shortbread jujubes.
              </li>
              <li>
                Jelly-o dessert pie pastry marshmallow biscuit liquorice icing.
              </li>
              <li>
                Sweet roll caramels sweet chupa chups sweet roll ice cream
                jelly.
              </li>
            </ol>
          </li>
          <li>
            Biscuit jelly beans pudding candy toffee cookie tootsie roll. Gummi
            bears shortbread oat cake sweet roll danish sweet roll.
          </li>
        </ol>
      </li>
      <li>Marzipan gummies tart toffee powder candy.</li>
    </ol>

    <h4>Unordered List</h4>
    <ul>
      <li>
        Soufflé gingerbread chocolate cookie icing fruitcake wafer brownie
        powder.
      </li>
      <li>
        Brownie donut shortbread gummies pudding gummi bears shortbread danish
        gingerbread.
        <ul>
          <li>Sweet danish pudding powder danish muffin carrot cake.</li>
          <li>
            Muffin marshmallow jujubes sweet macaroon apple pie bear claw.
            Biscuit soufflé candy canes icing muffin wafer tart gummies
            lollipop.
          </li>
          <li>
            Fruitcake dessert gummies cotton candy jelly-o chocolate bar dessert
            gummies.
          </li>
        </ul>
      </li>
      <li>
        Soufflé tiramisu pie cheesecake croissant pudding sesame snaps
        marshmallow.
      </li>
    </ul>

    <h3>Details / Summary</h3>
    <details>
      <summary>Expand for details</summary>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, odio! Odio
        natus ullam ad quaerat, eaque necessitatibus, aliquid distinctio
        similique voluptatibus dicta consequuntur animi. Quaerat facilis quidem
        unde eos! Ipsa.
      </p>
    </details>

    <h3>Address</h3>
    <address>
      Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br />
      Visit us at:<br />
      Example.com<br />
      Box 564, Disneyland<br />
      USA
    </address>

    <h3>Tabular data</h3>
    <table>
      <caption>Table Caption</caption>
      <thead>
        <tr>
          <th>Table Heading 1</th>
          <th>Table Heading 2</th>
          <th>Table Heading 3</th>
          <th>Table Heading 4</th>
          <th>Table Heading 5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
        <tr>
          <td>Table Cell 1</td>
          <td>Table Cell 2</td>
          <td>Table Cell 3</td>
          <td>Table Cell 4</td>
          <td>Table Cell 5</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Table Footer 1</th>
          <th>Table Footer 2</th>
          <th>Table Footer 3</th>
          <th>Table Footer 4</th>
          <th>Table Footer 5</th>
        </tr>
      </tfoot>
    </table>

    <hr />

    <h2>Embedded content</h2>
    <h3>Images</h3>
    <h4>Plain <code>&lt;img&gt;</code> element</h4>
    <img src="https://placedog.net/480/480?R" alt="Random dog (placeholder)" />

    <h4>
      <code>&lt;figure&gt;</code> element with <code>&lt;img&gt;</code> element
    </h4>
    <figure>
      <img
        src="https://placedog.net/420/420?r"
        alt="Random dog (placeholder)"
      />
    </figure>

    <h4>
      <code>&lt;figure&gt;</code> element with <code>&lt;img&gt;</code> and
      <code>&lt;figcaption&gt;</code> elements
    </h4>
    <figure>
      <img
        src="https://placedog.net/430/430?r"
        alt="Random dog (placeholder)"
      />
      <figcaption>Here is a caption for this image.</figcaption>
    </figure>

    <h4>
      <code>&lt;figure&gt;</code> element with a <code>&lt;picture&gt;</code> element
    </h4>
    <figure>
      <picture>
        <source
          srcset="https://placedog.net/800/800?r"
          media="(min-width: 800px)"
        />
        <img
          src="https://placedog.net/420/420?r"
          alt="Random dog (placeholder)"
        />
      </picture>
    </figure>

    <h3>Audio</h3>
    <div><audio controls="">audio</audio></div>

    <h3>Video</h3>
    <div><video controls="">video</video></div>

    <h3>Meter</h3>
    <div><meter value="2" min="0" max="10">2 out of 10</meter></div>

    <h3>Progress</h3>
    <div><progress>progress</progress></div>

    <h3>Inline SVG</h3>
    <div>
      <svg width="100px" height="100px"
        ><circle cx="100" cy="100" r="100" fill="#1fa3ec"></circle></svg
      >
    </div>

    <h3>IFrame</h3>
    <div><iframe src="index.html" height="300"></iframe></div>

    <h3>Embed</h3>
    <div><embed src="index.html" height="300" /></div>

    <h3>Object</h3>
    <div><object data="index.html" height="300"></object></div>

    <h2>Form elements</h2>
    <form>
      <p>
        <label for="input__text">Text Input</label>
        <input id="input__text" type="text" placeholder="Text Input" />
      </p>
      <p>
        <label for="input__password">Password</label>
        <input
          id="input__password"
          type="password"
          placeholder="Type your Password"
        />
      </p>
      <p>
        <label for="input__webaddress">Web Address</label>
        <input
          id="input__webaddress"
          type="url"
          placeholder="https://yoursite.com"
        />
      </p>
      <p>
        <label for="input__emailaddress">Email Address</label>
        <input
          id="input__emailaddress"
          type="email"
          placeholder="name@email.com"
        />
      </p>
      <p>
        <label for="input__phone">Phone Number</label>
        <input id="input__phone" type="tel" placeholder="(999) 999-9999" />
      </p>
      <p>
        <label for="input__search">Search</label>
        <input
          id="input__search"
          type="search"
          placeholder="Enter Search Term"
        />
      </p>
      <p>
        <label for="input__text2">Number Input</label>
        <input id="input__text2" type="number" placeholder="Enter a Number" />
      </p>
      <p>
        <label for="input__file">File Input</label>
        <input id="input__file" type="file" />
      </p>

      <p>
        <label for="select">Select</label>
        <select id="select">
          <optgroup label="Option Group">
            <option>Option One</option>
            <option>Option Two</option>
            <option>Option Three</option>
          </optgroup>
        </select>
      </p>
      <p>
        <label for="select_multiple">Select (multiple)</label>
        <select id="select_multiple" multiple="multiple">
          <optgroup label="Option Group">
            <option>Option One</option>
            <option>Option Two</option>
            <option>Option Three</option>
          </optgroup>
        </select>
      </p>

      <fieldset>
        <legend>Checkboxes</legend>
        <label for="checkbox1"
          ><input
            id="checkbox1"
            name="checkbox"
            type="checkbox"
            checked="checked"
          /> Choice A</label
        >
        <label for="checkbox2"
          ><input id="checkbox2" name="checkbox" type="checkbox" /> Choice B</label
        >
        <label for="checkbox3"
          ><input id="checkbox3" name="checkbox" type="checkbox" /> Choice C</label
        >
      </fieldset>

      <fieldset>
        <legend>Radio buttons</legend>
        <label for="radio1"
          ><input id="radio1" name="radio" type="radio" checked="checked" />
          Option 1</label
        >
        <label for="radio2"
          ><input id="radio2" name="radio" type="radio" /> Option 2</label
        >
        <label for="radio3"
          ><input id="radio3" name="radio" type="radio" /> Option 3</label
        >
      </fieldset>

      <p>
        <label for="textarea">Textarea</label>
        <textarea
          id="textarea"
          rows="8"
          cols="48"
          placeholder="Enter your message here"></textarea>
      </p>

      <p>
        <label for="ic">Color input</label>
        <input type="color" id="ic" value="#000000" />
      </p>
      <p>
        <label for="in">Number input</label>
        <input type="number" id="in" min="0" max="10" value="5" />
      </p>
      <p>
        <label for="ir">Range input</label>
        <input type="range" id="ir" value="10" />
      </p>
      <p>
        <label for="idd">Date input</label>
        <input type="date" id="idd" value="1970-01-01" />
      </p>
      <p>
        <label for="idm">Month input</label>
        <input type="month" id="idm" value="1970-01" />
      </p>
      <p>
        <label for="idw">Week input</label>
        <input type="week" id="idw" value="1970-W01" />
      </p>
      <!-- <p>
            <label for="idt">Datetime input</label>
            <input type="datetime" id="idt" value="1970-01-01T00:00:00Z" />
          </p> -->
      <p>
        <label for="idtl">Datetime-local input</label>
        <input type="datetime-local" id="idtl" value="1970-01-01T00:00" />
      </p>
      <p>
        <label for="idl">Datalist</label>
        <input type="text" id="idl" list="example-list" />
        <datalist id="example-list">
          <option value="Example #1"></option>
          <option value="Example #2"></option>
          <option value="Example #3"></option>
        </datalist>
      </p>

      <p>
        <input type="submit" value="<input type=submit>" />
        <input type="button" value="<input type=button>" />
        <input type="reset" value="<input type=reset>" />
        <input type="submit" value="<input disabled>" disabled />
      </p>
      <p>
        <button type="submit">&lt;button type=submit&gt;</button>
        <button type="button">&lt;button type=button&gt;</button>
        <button type="reset">&lt;button type=reset&gt;</button>
        <button type="button" disabled>&lt;button disabled&gt;</button>
      </p>
    </form>
  </article>

  <style>
    article.prose {
      margin-block-start: var(--s7);
    }
  </style>
</Document>
