---
import Document from "../layouts/Document.astro";
import HomepageHero from "../components/HomepageHero.astro";
import Footer from "../components/Footer.astro";
---

<Document title="home">
  <p>hello, world.</p>
</Document>
