---
import Document from "../layouts/Document.astro";
---

<Document title="home">
  <h2>hello, world.</h2>

  <p>
    Welcome to my personal website! It's currently under construction (and,
    let's face it, it probably always will be).
    <i>[90s-retro-construction.gif]</i>
  </p>

  <h2>writing</h2>
  <p>
    I'm trying to practice writing about some of the things I think about. Check
    out my <a href="/posts">posts</a>.
  </p>

  <h2>thoughts</h2>
  <p>
    Sometimes, though, I just want to share a quick thought without writing too
    much about it. Instead of sharing on social media channels, I may just
    publish them on my
    <a href="/posts">thoughts</a> page.
  </p>
</Document>
