---
/**
 * Home page content :)
 */
import Document from "../layouts/Document.astro";
---

<Document title="home">
  <article class="stack layout-weight-left">
    <h2>hello, world.</h2>

    <p class="intro">
      I'm <b>sylvia</b>, a web developer, equestrian, outdoors enthusiast, and
      dog mom. This is my home on the web.
    </p>

    <p class="mid-right">
      Hey, so, this site is still under construction. I'm not really sure what
      goes here, yet. Maybe check out some things I <a href="posts/">wrote</a> or
      learn something <a href="about">about me</a>. I dunno, look around, have
      fun, and <a href="mailto:sylvia@svillegas.com">send me</a> a note if you want.
      ✌️
    </p>
  </article>
</Document>

<style>
  .intro {
    font-size: var(--s2);
    line-height: 1.2;
    margin-block-end: var(--s4);
  }

  .mid-right {
    grid-column: mid-right;
  }
</style>
