---
import Document from "../layouts/Document.astro";
---

<Document title="home">
  <h2>hello, world.</h2>

  <p>
    Welcome to my personal website! It's currently under construction (and,
    let's face it, it probably always will be).
    <i>[90s-retro-construction.gif]</i>
  </p>

  <h2>for hire</h2>
  <p>I'm looking for my next gig. Wanna <a href="/hire">hire me</a>?</p>
</Document>
