---
import { getCollection } from "astro:content";
import Document from "../layouts/Document.astro";

const nows = await getCollection("now");
const sortedNows = nows.sort(
  (a, b) => +new Date(a.data.date) - +new Date(b.data.date)
);
const latestNow = sortedNows.slice(-1)[0];
const previousNows = sortedNows.slice(0, -1);
const { Content } = await latestNow.render();
---

<Document>
  <h1>now</h1>

  <time datetime={latestNow.data.date}>{latestNow.data.date}</time>

  <Content />

  {
    previousNows && (
      <>
        <h2>previously...</h2>
        <ul>
          {previousNows.map((n) => (
            <li>
              <a href={`/previously/${n.data.date}`}>{n.data.date}</a>
            </li>
          ))}
        </ul>
      </>
    )
  }
</Document>
