---
import { getCollection } from "astro:content";
import Page from "../layouts/Page.astro";
import LogoSoup from "../components/LogoSoup.astro";
import PostList from "../components/PostList.astro";

const webPosts = await getCollection("posts", ({ data }) => {
  return data.tags?.includes("web");
});
---

<Page title="web">
  <p class="lede" slot="lede">
    I am primarily a "<a
      href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/"
      >front of the front end</a
    >" web developer who's been building on the web since <code>marquee</code> was
    cool, and I believe the web is for <em>everyone</em>.
  </p>

  <div class="logo-soup">
    <h2 class="visually-hidden">Some technology I've used</h2>
    <LogoSoup />
  </div>

  {
    webPosts?.length > 0 && (
      <>
        <h2>Some posts about the web</h2>

        <PostList posts={webPosts} />
      </>
    )
  }
</Page>

<style>
  .logo-soup {
    margin-block: var(--s2);
  }
</style>
