---
/**
 * Styled blockquote, with optional source and citation link
 * @param {string} source name of the speaker or source
 * @param {string} citeName name of the reference material
 * @param {url} citeUrl url for the cited material
 */

const { source, citeName, citeUrl } = Astro.props;
---

<article>
  <blockquote>
    <slot />
  </blockquote>

  {
    (source || citeName || citeUrl) && (
      <p class="source">
        {source || null}
        {source && (citeName || citeUrl) && `, `}
        {(citeName || citeUrl) && (
          <cite>
            {citeUrl ? (
              <a href={citeUrl}>{citeName || citeUrl}</a>
            ) : (
              citeName || null
            )}
          </cite>
        )}
      </p>
    )
  }
</article>

<style>
  article {
    --quote-bg-color: var(--color-highlight);
    --quote-triangle-size: var(--s-1);

    display: flex;
    flex-direction: column;
    align-items: end;
  }

  blockquote {
    background-color: var(--quote-bg-color);
    border-radius: var(--s5) / var(--s3);
    padding: var(--s-1) var(--s1);
  }

  .source {
    position: relative;
    font-size: 0.8em;
    font-style: italic;
    color: var(--color-green-3);
    margin-inline-end: var(--s4);

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: calc(-1.5 * var(--quote-triangle-size));
      border-inline: var(--quote-triangle-size) solid transparent;
      border-bottom: var(--quote-triangle-size) solid transparent;
      border-top: var(--quote-triangle-size) solid var(--quote-bg-color);
      transform: skewX(50deg);
    }
  }
</style>
