<footer>
  <p>All awesomeness on this site &copy; 2023 sylvia villegas.</p>
  <p>
    <a href="https://linkedin.com/in/sylviavillegas">LinkedIn</a> |
    <a href="https://github.com/svillegascreative">Github</a> |
    <a href="/colophon">Colophon</a>
  </p>
</footer>

<style>
  footer {
    grid-area: footer;
    margin-block-start: var(--s5);
    padding: var(--s0);
    background: #ddd;
  }
</style>
