<style>
  footer {
    margin: 1rem;
  }
</style>

<footer>
  <p>
    All awesomeness on this site &copy; 2023 sylvia villegas. All rights
    reserved.
    <a href="/now">Now</a>
    <a href="/colophon">Colophon</a>
  </p>
</footer>
