<footer>
  <div class="logo-container">
    <img src="/src/assets/venn.svg" alt="A 5-set Venn diagram" />
    <img
      src="/src/assets/signature.svg"
      alt="'sylvia villegas' in handwriting"
    />
  </div>

  <div class="stack">
    <p>
      This is the personal website of <b>sylvia villegas</b>, a front-end web
      developer, accessibility specialist, design critic, outdoors enthusiast,
      equestrian, and dog mom in Toronto. Thanks for visiting!
    </p>
    <p>
      <a href="https://linkedin.com/in/sylviavillegas">LinkedIn</a> |
      <a href="https://github.com/svillegascreative">Github</a>
    </p>
    <p class="small">
      All awesomeness on this site &copy; 2024 sylvia villegas. All views are my
      own. <a href="/colophon">Colophon</a>
    </p>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: var(--s3);
    padding: var(--s7) var(--s0);
    background: var(--c-teal-dark);
    color: var(--c-cream);
  }

  .logo-container {
    width: clamp(10rem, 40%, 20rem);
    justify-self: center;
  }

  @media (min-width: 600px) {
    footer {
      grid-template-columns: 1fr 4fr;
    }

    .logo-container {
      justify-self: end;
    }
  }
</style>
