---
import Logo from "../assets/venn.svg";
import Signature from "../assets/signature.svg";
---

<footer>
  <div class="logo-container">
    <Logo />
    <Signature />
  </div>

  <div class="prose stack small">
    <p>
      All awesomeness on this site &copy; 2025 sylvia villegas. All views, code,
      words, mistakes, and em dashes are my own unless otherwise specified.
    </p>

    <a href="/colophon">Colophon</a>

    <p>
      <a href="https://linkedin.com/in/sylviavillegas">LinkedIn</a> |
      <a href="https://github.com/svillegascreative">Github</a> |
      <a href="https://bsky.app/profile/svillegas.com">Bluesky</a> |
      <a href="https://www.instagram.com/zoophoria/">Instagram</a>
    </p>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: var(--s3);
    padding: var(--s7) var(--s0);
    background: var(--color-bg-dark);
    color: var(--color-text-light-alt);
    margin-block-start: var(--s7);
  }

  .logo-container {
    width: clamp(10rem, 40%, 20rem);
    justify-self: center;
  }

  @media (min-width: 600px) {
    footer {
      grid-template-columns: 1fr 4fr;
    }

    .logo-container {
      justify-self: end;
    }
  }
</style>
