---
import menu from "../data/menu.json";

const pageUrl = Astro.url.pathname;
---

<header>
  <nav aria-label="Main menu">
    <ul>
      {
        menu.map((link) => (
          <li>
            {pageUrl == link.url ? (
              <a href="#main" class="current-page" aria-current="page">
                {link.name}
              </a>
            ) : (
              <a href={link.url}>{link.name}</a>
            )}
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    margin: var(--s0);
    grid-area: header;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: #000;
    text-decoration: none;
    font-weight: bold;

    &.current-page {
      text-decoration: underline;
    }
  }
</style>
