---
import menu from "../data/menu.json";

const pageUrl = Astro.url.pathname;
---

<header>
  <nav>
    <ul>
      {
        menu.map((link) => (
          <li>
            {pageUrl.includes(link.url) || link.activeUrls.includes(pageUrl) ? (
              <a href="#main" class="current-page" aria-current="page">
                {link.name}
              </a>
            ) : (
              <a href={link.url}>{link.name}</a>
            )}
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    grid-area: header;
  }

  nav {
    padding: var(--s-2);
  }

  ul {
    list-style-type: "";
    display: inline-flex;
    gap: var(--s-2);
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--c-navy);
    text-decoration: none;
    font-weight: bold;

    &.current-page {
      text-decoration: underline;
    }
  }

  @media (min-width: 600px) {
    nav {
      border-inline-start: 4px solid var(--c-violet);
      padding: var(--s-2) var(--s-2) var(--s3);
    }

    ul {
      display: block;
    }
  }
</style>
