---
import logo from "../assets/venn.svg?raw";
---

<section>
  <Fragment set:html={logo} />
  <h1>
    <span class="default">The</span>
    <span class="default">personal</span>
    <span class="default">website</span>
    <span class="default">of</span>
    <span class="name">sylvia</span>
    <span class="name">villegas</span>
  </h1>
</section>

<style>
  section {
    min-height: 100vh;
    position: relative;
    margin-inline-start: var(--s1);
    margin-block-end: var(--s5);

    svg {
      position: absolute;
      opacity: 0.05;
      color: var(--color-accent);
      stroke-width: 3px;
      height: 100%;
      width: 100%;
    }
  }

  h1 {
    font-size: min(27vh, 18vw);
    position: absolute;
    bottom: var(--s3);
    line-height: 0.68;
    max-width: 8ch;
    text-align: right;
    letter-spacing: -0.04em;

    .default {
      text-shadow: 0 -1px 1px var(--color-highlight);
    }

    .name {
      color: var(--color-accent);
      text-shadow: 0 -1px 1px var(--color-highlight);
    }
  }
</style>
