---
/**
 * Renders a list of posts as PostCards
 */

import PostCard from "./PostCard.astro";

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <PostCard post={post} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: "";
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--s2);
  }
</style>
