---
/**
 * Renders and styles a single "thought"
 */
import Time from "./Time.astro";

const { thought } = Astro.props;
---

<article>
  {thought.text}
  <div>
    <Time date={thought._createdAt} format="qqq" />
  </div>
</article>

<style>
  article {
    background-color: var(--c-teal-l2);
    border-radius: var(--s-1);
    padding: var(--s0);
  }

  time {
    display: block;
  }
</style>
