---
import { getCollection } from "astro:content";
import Document from "../../layouts/Document.astro";

const now = await getCollection("now");
const latestNow = now.slice(-1)[0];
const { Content } = await latestNow.render();
---

<Document>
  <h1>now</h1>

  <time>{latestNow.data.date}</time>

  <Content />
</Document>
