---
/**
 * Layout for most pages throughout the site.
 * @param title document title and default h1
 * @param h1 optional h1, if it doesn't match the document title
 * @param image optional image, for use as OG image
 */
import Document from "./Document.astro";

const { title, h1, description, image } = Astro.props;
---

<Document title={title} description={description} image={image}>
  <article class="stack layout-weight-left">
    <header>
      <h1>{h1 || title}</h1>
    </header>

    <slot />
  </article>
</Document>

<style>
  header {
    grid-column: content;
    height: 38.2dvh; /* TODO: variable */
    justify-self: end;
  }

  h1 {
    --measure: 30ch;

    font-size: var(--s7);
    -webkit-text-stroke: 0.03em var(--color-text-heading);
    color: transparent;
    text-shadow: 0.06em 0.04em var(--color-highlight);
    margin-block-end: var(--s-1);
    text-align: right;
  }
</style>
