---
/**
 * Layout for most pages.
 * @param h1 optional h1, if it doesn't match the title
 * @param lede optional lede, if it comes from content. Use slot if it comes from HTML.
 * @param title document title and default h1
 */
import Document from "./Document.astro";

const { h1, lede, title } = Astro.props;
---

<Document title={title}>
  <article class="gappy">
    <header>
      <h1>{h1 || title}</h1>

      <!-- 2 options for including lede: -->
      {lede && <p class="lede">{lede}</p>}
      <slot name="lede" />
    </header>

    <slot />
  </article>
</Document>

<style>
  article {
    --content: minmax(auto, 70ch);
    --left-gutter: minmax(var(--s0), 1fr);
    display: grid;
    grid-template-columns:
      [full-start] var(--left-gutter) [content-start] var(--content)
      [content-end] 0 [full-end];

    > * {
      grid-column: content;
      margin-block-end: 0;
    }
  }

  header {
    grid-column: full;
    margin-block-end: var(--s5);
  }

  h1 {
    --font: var(--font-heavy);
    --font-size: var(--s7);
    --measure: 30ch;

    -webkit-text-stroke: 0.03em var(--c-navy);
    color: transparent;
    text-shadow: 0.06em 0.04em var(--c-teal);
    margin-block-end: var(--s-1);
  }
</style>
